<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Please Provide other details</title>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename = 'styles/style3.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" color="Green">Nebula Mutual Fund</h1>
        <p class="lead">An Asset Management Company with a strong focus on Performance while minizing risk.</p>
      </div>
    </div>
    <div class="container1">
      <div class="form_title">
        <span class="enterdetails"><h1>NOMINEE DETAILS</h1></span>
      </div>
      <div class="right">
        <div class="subblock-left" style="width:50%;float:left;">

          <div class="snippets">
            <span class="titles">Name:</span>
            <span class="values">{{lst['name']}}</span>

          </div>
          <div class="snippets">
            <span class="titles">PAN Number:</span>
            <span class="values">{{lst['pannumber']}}</span>

          </div>
          <div class="snippets">
            <span class="titles">Phone Number:</span>
            <span class="values">{{lst['mobilenumber']}}</span>

          </div>
          <div class="snippets">
            <span class="titles">DOB:</span>
            <span class="values">{{lst['dateofbirth']}}}</span>

          </div>
          <div class="snippets">
            <span class="titles">Country of Birth:</span>
            <span class="values">{{lst['birthcountry']}}</span>

          </div>
        </div>
        <div class="subblock-right" style="width:50%;float:right;">

          <div class="snippets">
            <span class="titles">Occupation:</span>
            <span class="values">{{lst['occupation']}}</span>

          </div>
          <div class="snippets">
            <span class="titles">Income Slab:</span>
            <span class="values">{{lst['incomeslab']}}</span>

          </div>
          <div class="snippets">
            <span class="titles">Politically Exposed:</span>
            <span class="values">{{lst['politically_exposed']}}</span>

          </div>
          <div class="snippets">
            <span class="titles">Tax Resident of Other Country:</span>
            <span class="values">{{lst['taxresident']}}</span>

          </div>
        </div>

      </div>





      <div class="left">
           <form class="" action="{{url_for('investment')}}" method="post">

             <div class="blocks">
               <h4 class="names">Name</h4>
               <select class="title-selector" aria-label="Default select example" name="title">
                  <option selected>Title</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Ms">Ms</option>
               </select>
               <div class="nname">

               <input type="text" size="50" STYLE='background-color: #92b582' placeholder="Name as per PAN" name="nameofnominee" required>
               </div>
             </div>

             <div class="blocks">
               <h4 class="names">Date of Birth</h4>
               <input type="date" STYLE='background-color: #92b582' name="dob_nominee" value="">
             </div>

             <div class="blocks">
               <h4 class="names">Relationship with Investor</h4>
               <select class="form-select" aria-label="Default select example" name="relationship">
                  <option selected>Open this select menu</option>
                  <option value="Father">Father</option>
                  <option value="Mother">Mother</option>
                  <option value="Spouse">Spouse</option>
               </select>
             </div>
             <div class="blocks">
               <h4 class="names">Allocation(%)</h4>
               <input type="text" name="allocation" placeholder="Integer" STYLE='background-color: #92b582' size="5">
             </div>
             <div class="blocks">
               <h4 class="names">Mobile Number</h4>
               <span>(Optional)</span>
               <p></p>
               <input type="text" name="nomineenumber" STYLE='background-color: #92b582' placeholder="Mobile Number" size="40" maxlength="10">


             </div>
             <div class="button">
               <input type="submit" name="" value="Next">

             </div>
           </form>
      </div>

    </div>
  </body>
</html>
